@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;

}

body.overflow-y-auto {
  overflow-y: auto;
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}